<a href="https://colab.research.google.com/github/DoyulPark/pdm08/blob/master/py-pandas/pandas_1_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab

## [1] Make data: Series, and DataFrame
> pandas의 데이터 구조
- Series
- DataFrame

### Series
> 1차원 데이터

In [ ]:
# Creating a Series by passing a list of values
s = pd.Series([1,3,5,np.nan,6,8,'you'])
s

0      1
1      3
2      5
3    NaN
4      6
5      8
6    you
dtype: object

In [ ]:
type(s)

pandas.core.series.Series

In [ ]:
# indexing 7 slicing og series
s[0]

(1, 0    1
 1    3
 2    5
 dtype: object)

In [ ]:
s[:3]

0    1
1    3
2    5
dtype: object

In [ ]:
s[-1:]

6    you
dtype: object

### 1차원 series의 용도
- 2차원 데이터프레임의 열을 구성

In [ ]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20200928', periods=6)
dates

DatetimeIndex(['2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01',
               '2020-10-02', '2020-10-03'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
type(dates)

pandas.core.indexes.datetimes.DatetimeIndex

In [ ]:
# Make dataframe using an array with random numbers
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-09-28  0.520279 -2.310977 -1.454612  0.551477
2020-09-29 -0.795014 -0.886397 -0.888134 -0.665966
2020-09-30  1.545341  0.553796  1.817199  0.901918
2020-10-01  0.646389  0.025370 -0.506975  0.036172
2020-10-02  0.115919  0.207566  2.153718 -0.701385
2020-10-03 -0.913641  1.435235 -1.797456  1.354510

In [ ]:
# check types of df  --> same type
df.dtypes

In [ ]:
type(df)

### 데이터프레임 (DataFrame)
- 2차원 데이터
- 다차원 데이터

In [ ]:
# Creating a DataFrame by passing a dict of objects that can be converted to series-like.
df2 = pd.DataFrame({ 'A' : 1., 
                    'B' : pd.Timestamp('20200928'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

In [ ]:
df2

     A          B    C  D      E    F
0  1.0 2020-09-28  1.0  3   test  foo
1  1.0 2020-09-28  1.0  3  train  foo
2  1.0 2020-09-28  1.0  3   test  foo
3  1.0 2020-09-28  1.0  3  train  foo

In [ ]:
# check types of df2 --> different types
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [ ]:
type(df2)

pandas.core.frame.DataFrame



---