<a href="https://colab.research.google.com/github/DoyulPark/pdm08/blob/master/py-pandas/pandas_2_handling_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab



---

## [2] Handling DataFrame
- head()
- tail()
- describe()
- info()

In [4]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20200928', periods=6)
dates

DatetimeIndex(['2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01',
               '2020-10-02', '2020-10-03'],
              dtype='datetime64[ns]', freq='D')

In [5]:
# head()
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df.head()

                   A         B         C         D
2020-09-28 -0.602784 -0.222357 -0.652951 -0.980038
2020-09-29 -0.917316 -0.207544 -0.698360 -0.925631
2020-09-30  2.002256  0.438247  0.373013  0.019782
2020-10-01  0.500318 -0.181442 -0.578906 -0.092757
2020-10-02  1.850506 -0.192924  0.147507  1.162409

In [6]:
df.head(2) 
#앞에 두개를 보여준다

                   A         B         C         D
2020-09-28 -0.602784 -0.222357 -0.652951 -0.980038
2020-09-29 -0.917316 -0.207544 -0.698360 -0.925631

In [7]:
df.tail(3)
#아랫부분을 볼때

                   A         B         C         D
2020-10-01  0.500318 -0.181442 -0.578906 -0.092757
2020-10-02  1.850506 -0.192924  0.147507  1.162409
2020-10-03  0.850123 -2.871927  0.248870 -0.041724

In [8]:
# Display the index, columns, and the underlying NumPy data:
df.index

DatetimeIndex(['2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01',
               '2020-10-02', '2020-10-03'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2020-09-28 to 2020-10-03
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [10]:
# describe() shows a quick statistic summary of your data:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.613851 -0.539658 -0.193471 -0.142993
std    1.212466  1.170923  0.499486  0.781859
min   -0.917316 -2.871927 -0.698360 -0.980038
25%   -0.327008 -0.218654 -0.634440 -0.717412
50%    0.675221 -0.200234 -0.215699 -0.067240
75%    1.600411 -0.184313  0.223530  0.004405
max    2.002256  0.438247  0.373013  1.162409

In [ ]:
df.columns

In [ ]:
# Transposing your dataframe:
df.T

In [ ]:
df.T.index

### Sorting

#### Sort by index
- sort_index(axis=0, ascending=False)
- sort_index(axis=1, ascending=False)

> Axis=0 Column-Wise Operation (수직으로)

> Axis=1 Row-Wise Operation (수평으로)

In [13]:
# Sorting by an axis:
df, df.sort_index(axis=0) , #ascending=False)

(                   A         B         C         D
 2020-09-28 -0.602784 -0.222357 -0.652951 -0.980038
 2020-09-29 -0.917316 -0.207544 -0.698360 -0.925631
 2020-09-30  2.002256  0.438247  0.373013  0.019782
 2020-10-01  0.500318 -0.181442 -0.578906 -0.092757
 2020-10-02  1.850506 -0.192924  0.147507  1.162409
 2020-10-03  0.850123 -2.871927  0.248870 -0.041724,
                    A         B         C         D
 2020-09-28 -0.602784 -0.222357 -0.652951 -0.980038
 2020-09-29 -0.917316 -0.207544 -0.698360 -0.925631
 2020-09-30  2.002256  0.438247  0.373013  0.019782
 2020-10-01  0.500318 -0.181442 -0.578906 -0.092757
 2020-10-02  1.850506 -0.192924  0.147507  1.162409
 2020-10-03  0.850123 -2.871927  0.248870 -0.041724)

In [14]:
df,df.sort_index(axis=1, ascending=False)

(                   A         B         C         D
 2020-09-28 -0.602784 -0.222357 -0.652951 -0.980038
 2020-09-29 -0.917316 -0.207544 -0.698360 -0.925631
 2020-09-30  2.002256  0.438247  0.373013  0.019782
 2020-10-01  0.500318 -0.181442 -0.578906 -0.092757
 2020-10-02  1.850506 -0.192924  0.147507  1.162409
 2020-10-03  0.850123 -2.871927  0.248870 -0.041724,
                    D         C         B         A
 2020-09-28 -0.980038 -0.652951 -0.222357 -0.602784
 2020-09-29 -0.925631 -0.698360 -0.207544 -0.917316
 2020-09-30  0.019782  0.373013  0.438247  2.002256
 2020-10-01 -0.092757 -0.578906 -0.181442  0.500318
 2020-10-02  1.162409  0.147507 -0.192924  1.850506
 2020-10-03 -0.041724  0.248870 -2.871927  0.850123)

#### Sort by value
- sort_values(by='column')

In [15]:
# Sorting by values:
df,df.sort_values(by='B') #, ascending=False)

(                   A         B         C         D
 2020-09-28 -0.602784 -0.222357 -0.652951 -0.980038
 2020-09-29 -0.917316 -0.207544 -0.698360 -0.925631
 2020-09-30  2.002256  0.438247  0.373013  0.019782
 2020-10-01  0.500318 -0.181442 -0.578906 -0.092757
 2020-10-02  1.850506 -0.192924  0.147507  1.162409
 2020-10-03  0.850123 -2.871927  0.248870 -0.041724,
                    A         B         C         D
 2020-10-03  0.850123 -2.871927  0.248870 -0.041724
 2020-09-28 -0.602784 -0.222357 -0.652951 -0.980038
 2020-09-29 -0.917316 -0.207544 -0.698360 -0.925631
 2020-10-02  1.850506 -0.192924  0.147507  1.162409
 2020-10-01  0.500318 -0.181442 -0.578906 -0.092757
 2020-09-30  2.002256  0.438247  0.373013  0.019782)

## indexing and slicing of DataFrame

#### Selecting data by indexing and slicing
- indexing
- slicing

In [18]:
# Selecting a single column, which yields a Series
df['A']

2020-09-28   -0.602784
2020-09-29   -0.917316
2020-09-30    2.002256
2020-10-01    0.500318
2020-10-02    1.850506
2020-10-03    0.850123
Freq: D, Name: A, dtype: float64

In [21]:
# Selecting via [], which slices the rows.
df[0:3]

                   A         B         C         D
2020-09-28 -0.602784 -0.222357 -0.652951 -0.980038
2020-09-29 -0.917316 -0.207544 -0.698360 -0.925631
2020-09-30  2.002256  0.438247  0.373013  0.019782

In [22]:
df['20200928':'20201001'] # 인덱스가 아닌 값인 경우는 지정된 범위가 다 선택된다.

                   A         B         C         D
2020-09-28 -0.602784 -0.222357 -0.652951 -0.980038
2020-09-29 -0.917316 -0.207544 -0.698360 -0.925631
2020-09-30  2.002256  0.438247  0.373013  0.019782
2020-10-01  0.500318 -0.181442 -0.578906 -0.092757

#### Selecting data by label

> **loc, iloc**

In [23]:
df

                   A         B         C         D
2020-09-28 -0.602784 -0.222357 -0.652951 -0.980038
2020-09-29 -0.917316 -0.207544 -0.698360 -0.925631
2020-09-30  2.002256  0.438247  0.373013  0.019782
2020-10-01  0.500318 -0.181442 -0.578906 -0.092757
2020-10-02  1.850506 -0.192924  0.147507  1.162409
2020-10-03  0.850123 -2.871927  0.248870 -0.041724

In [24]:
df.loc[dates[0]]   # loc()

A   -0.602784
B   -0.222357
C   -0.652951
D   -0.980038
Name: 2020-09-28 00:00:00, dtype: float64

In [25]:
# Selecting on a multi-axis by label:
df.loc[:,['A','B']]

                   A         B
2020-09-28 -0.602784 -0.222357
2020-09-29 -0.917316 -0.207544
2020-09-30  2.002256  0.438247
2020-10-01  0.500318 -0.181442
2020-10-02  1.850506 -0.192924
2020-10-03  0.850123 -2.871927

#### [도전코딩]

> Select data for first two days AND comumn 3,4 from df.

In [38]:
df[0:2]

                   A         B         C         D
2020-09-28 -0.602784 -0.222357 -0.652951 -0.980038
2020-09-29 -0.917316 -0.207544 -0.698360 -0.925631

In [43]:
# df.loc[0:2,['C','D']]
#df.loc['20200928':'20200930',['C','D']]
df.loc[dates[:2],['C','D']]

                   C         D
2020-09-28 -0.652951 -0.980038
2020-09-29 -0.698360 -0.925631

#### Selecting data by position (iloc())
- index 사용

In [30]:
df

                   A         B         C         D
2020-09-28 -0.602784 -0.222357 -0.652951 -0.980038
2020-09-29 -0.917316 -0.207544 -0.698360 -0.925631
2020-09-30  2.002256  0.438247  0.373013  0.019782
2020-10-01  0.500318 -0.181442 -0.578906 -0.092757
2020-10-02  1.850506 -0.192924  0.147507  1.162409
2020-10-03  0.850123 -2.871927  0.248870 -0.041724

In [31]:
df.iloc[3]  # 결과는 차원축소형으로 표현됨.

A    0.500318
B   -0.181442
C   -0.578906
D   -0.092757
Name: 2020-10-01 00:00:00, dtype: float64

In [44]:
# [다시 도전]
# Select data for first two days AND comumn 3,4 from df.
# Use iloc
df.iloc[:2,2:4]

                   C         D
2020-09-28 -0.652951 -0.980038
2020-09-29 -0.698360 -0.925631

In [33]:
# Select one item
df.iloc[1,1] #20200929,B

-0.20754409537256321

#### Selecting data by Boolean indexing

In [34]:
df

                   A         B         C         D
2020-09-28 -0.602784 -0.222357 -0.652951 -0.980038
2020-09-29 -0.917316 -0.207544 -0.698360 -0.925631
2020-09-30  2.002256  0.438247  0.373013  0.019782
2020-10-01  0.500318 -0.181442 -0.578906 -0.092757
2020-10-02  1.850506 -0.192924  0.147507  1.162409
2020-10-03  0.850123 -2.871927  0.248870 -0.041724

In [35]:
df[df.A > 0]

                   A         B         C         D
2020-09-30  2.002256  0.438247  0.373013  0.019782
2020-10-01  0.500318 -0.181442 -0.578906 -0.092757
2020-10-02  1.850506 -0.192924  0.147507  1.162409
2020-10-03  0.850123 -2.871927  0.248870 -0.041724

In [36]:
df[df > 0]

                   A         B         C         D
2020-09-28       NaN       NaN       NaN       NaN
2020-09-29       NaN       NaN       NaN       NaN
2020-09-30  2.002256  0.438247  0.373013  0.019782
2020-10-01  0.500318       NaN       NaN       NaN
2020-10-02  1.850506       NaN  0.147507  1.162409
2020-10-03  0.850123       NaN  0.248870       NaN