<a href="https://colab.research.google.com/github/DoyulPark/pdm08/blob/master/numpy_3_random.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# numpy
## random 서브모듈
> [데이터싸이언스 스쿨:난수발생](https://datascienceschool.net/view-notebook/8bf41f87a08b4c44b307799577736a28/)

In [ ]:
import numpy as np

## 난수 생성
> NumPy의 random 서브모듈은 난수를 생성하는 다양한 명령을 제공.

- rand: 0부터 1사이의 균일 분포 (uniform distribution)
- randn: 가우시안 표준 정규 분포 (normal distribution, Gaussian)
- randint: 균일 분포의 정수 난수 (uniform int)

> randn()은 평균 0, 표준편차 1 인 가우시안 정규분포를 생성.

### rand: 0부터 1사이의 균일 분포 (uniform distribution)

In [ ]:
np.random.rand(5)

In [ ]:
np.random.rand(5)

### randn: 가우시안 표준 정규 분포 (normal distribution, Gaussian)

In [ ]:
np.random.randn(5)

### randint: 균일 분포의 정수 난수 (uniform int)
- numpy.random.randint(low, high=None, size=None, dtype='l')

In [ ]:
np.random.randint(5)

In [ ]:
np.random.randint(5,9)

In [ ]:
np.random.randint(0,10,5)

In [ ]:
np.random.randint(0,10,5)

## 난수 생성 seed 설정
- numpy.random.seed(seed=None)
- np.random.seed(number)

In [ ]:
np.random.seed()

In [ ]:
np.random.rand(5)

In [ ]:
np.random.rand(5)

### 동일한 무작위수 생성
- seed를 고정하고 무작위수 생성

In [ ]:
np.random.seed(1234)

In [ ]:
np.random.rand(5)

In [ ]:
np.random.seed(1234)

In [ ]:
np.random.rand(5)

### seed 고정 후에 randint(5)

In [ ]:
np.random.seed(5678)
np.random.randint(1,10,5)

In [ ]:
np.random.randint(1,10,5)

In [ ]:
np.random.seed(5678)
np.random.randint(1,10,5)

In [ ]:
np.random.seed(5678)
np.random.randint(1,10,5)

In [ ]:
# seed 변경
np.random.seed(0)
np.random.randint(1,10,5)

## 도전 코딩
- 생성된 마구잡이수를 조사하고 사용하기

### [도전 1.] 0부터 9까지의 마구잡이 정수를 1000개 만들고 각 수의 빈도를 구하시오.

In [ ]:
# n1000=
n1000 = np.random.randint(0,10,1000)
# n1000

In [ ]:
# np.unique(n1000)

In [ ]:
# 각 수의 빈도
np.unique(n1000)

In [1]:
value.count = np.unique(n1000,return_counts=True)

NameError: ignored

In [2]:
value

NameError: ignored

### [도전 2.] 0부터 9까지의 마구잡이 정수를 1000개 만들고 각 수가 처음 출현하는 인덱스를 구하시오.
> 0이 처음 나타날 때의 인덱스, 1이 처음 나타날 때의 인덱스, ...

In [8]:
# 각 수가 처음 출현하는 인덱스
value,index = np.unique(n1000,return_index=True)

NameError: ignored

In [ ]:
# n1000[index]

### [도전 3.] seed를 1234로 고정하고, 위의 도전1,2를 다시 해보시오.

## python graphics
- matplotlib
> import matplotlib.pyplot as plt

### 무작위수 분포 그려보기

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.hist(n1000,label=range(0,10), color='red')
# plt.show()

### [도전] 균일분포와 정규분포를 비교하는 그림을 그리시오.

In [ ]:
plt.hist(np.random.rand(1000))

In [ ]:
plt.hist(np.random.randn(1000))

In [ ]:
np.max(np.random.randn(1000))

In [ ]:
value, count= np.unique(n1000, return_counts=True)